.hot-button {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border: 2px solid rgb(70 70 70);
  border-radius: 0.25rem;
  position: relative;
  transition: background-color 0.15s ease, color 0.15s ease;
}
