body {
  font-family: Karla, sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/s/karla/v7/qkBbXvYC6trAT7RVLtyU5rZP.woff2") format("woff2");
  unicode-range:
    u+0000-00ff,
    u+0131,
    u+0152-0153,
    u+02bb-02bc,
    u+02c6,
    u+02da,
    u+02dc,
    u+2000-206f,
    u+2074,
    u+20ac,
    u+2122,
    u+2191,
    u+2193,
    u+2212,
    u+2215,
    u+feff,
    u+fffd;
}

h1,
h3 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.col-full {
  flex-basis: 100%;
}

.col-half {
  flex-basis: 50%;
}

.col-one-third {
  flex-basis: calc(100% / 3);
}

.col-two-third {
  flex-basis: calc(200% / 3);
}

.center {
  text-align: center;
}

.title-p {
  font-size: small;
  color: rgb(136 136 136);
  line-height: 2;
  padding: 0 8rem;
}
